subscription                  = "<subscription-id>"
resource_group_name           = "<rg-name>"
location                      = "<region>"
vnet_name                     = "<vnet-name>"
vnet_address_space            = "10.0.0.0/16"
public_subnet_address_prefix  = "10.0.0.0/24"
vm_name                       = "<vm-name>"
vm_size                       = "<vm-size>"
admin_username                = "<vm-username>"
ssh_key_path                  = "<path-to-ssh-key>"
publisher                     = "<image-publisher>"
offer                         = "<image-offer>"
sku                           = "<image-sku>"
image_version                 = "<image-version>"
caching_type                  = "<caching-type>"     
storage_account_type          = "<storage-account-type>"